.collection-preview-item {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
}
.collection-preview-cover {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	object-fit: cover;
	height: 30rem;
	width: 30rem;
}
.slick-slide {
	display: flex !important;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
