@import "../../SASS/Abstract/variables";

.collection-preview-item {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
	height: 40rem !important;
	width: 35rem !important;
}

.collection-preview-cover {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	object-fit: cover;
	height: 30rem;
	width: 100%;
}
.slick-list {
	width: 100%;
}
.slick-slide {
	display: flex !important;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.slick-next {
  z-index: 5;
	right: 3% !important;
}
.slick-prev {
  z-index: 5;
	left: 3% !important;
}
.slick-prev:before,
.slick-next:before {
	color: $color-red--0 !important;
	font-size: 3rem !important;
	z-index: 5 !important;
}
