.section-heading{
  font-family: "Open Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal !important;
  text-align: center;
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;

}
.section-heading--main{
  font-family: "Open Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 5rem !important;
  color: $color-grey--3 !important;
}
.section-heading--sub{
  font-family: "Open Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 3.5rem !important;
}
.section-heading--paragraph{
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 2.2rem !important;
  font-weight: normal !important;
}