.section-heading {
	font-family: "Open Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-weight: normal !important;
	text-align: center;
}
.section-heading--main {
	font-family: "Open Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 4rem !important;
	color: $color-grey--3 !important;
	margin-top: 7rem !important;
	margin-bottom: 7rem !important;
}
.section-heading--sub {
	font-family: "Open Sans", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 3rem !important;
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
}
.section-heading--paragraph {
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 2rem !important;
	font-weight: normal !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}
