@import "../../SASS/Abstract/variables";

.slick-list {
	width: 100%;
}
.slick-slide {
	display: flex !important;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.slick-track {
	padding-top: 2rem;
	padding-bottom: 5rem;
}
.slick-next {
	z-index: 5;
	// right: 1% !important;
}
.slick-prev {
	z-index: 5;
	// left: 1% !important;
}
.slick-prev:before,
.slick-next:before {
	color: $color-blue--1 !important;
	font-size: 3rem !important;
	z-index: 5 !important;
}

.btn-add-to-cart {
	margin: 1rem;
}
.slick-dots li button:before {
	font-size: 1.5rem !important;
}
.slick-dots li.slick-active button:before {
	color: $color-blue--1 !important;
}

@media (max-width: 900px) {
	.gallery-preview {
		padding: 3rem 2rem;
	}
}

@media screen and (max-width: 600px) {
	.gallery-preview {
		padding: 3rem 2rem;
	}
}
