.category-menu {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-columns: 2fr;
  grid-auto-flow: row dense;
}
