.category-menu {
  width: 100%;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-auto-rows: 40rem;
  grid-auto-flow: row dense;
  padding: 3rem;
}
