.header {
	width: 100%;
}

.menu-btn-sign-up:hover:after,
.menu-btn-sign-up:active:after,
.menu-btn-sign-up:focus:after
.logo:hover:after,
.logo:active:after,
.logo:focus:after{
	border-bottom-color: transparent !important;
}
.anticon,
.anticon-shopping-cart {
	font-size: 1.8rem !important;
}
