.ant-btn-primary,
.ant-btn-primary:link {
	color: #fff;
	background: $color-red--0  !important;
	border-color: $color-red--0 !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.btn-primary--pink:hover,
.btn-primary--pink:active {
	color: #fff !important;
	background: $color-red--1 !important;
	border-color: $color-red--1 !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
