$color-white: #fdfdfc;
$color-black: #0f0e0c;
$color-off-white--0: #eae7dc;
$color-coffee--0: #d8c3a5;
$color-coffee--1: #bb9f79;
$color-grey--0: #949187;
$color-grey--1: #555450;
$color-grey--2: #33312d;
$color-grey--3: #161513;
$color-red--0: #e98074;
$color-red--1: #e85a4f;
$color-red--2: #aa1d13;
$color-red--3: #5a1510;
$color-red--4: #2a0705;

//Font size
$default-font-size: 1.6rem;
