@import "../../SASS/Abstract/variables";

.menu-item {
  min-width: 30%;
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -webkit-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -moz-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -ms-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -o-transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }

    & .content {
      opacity: 1;
    }
  }

  &.large {
    order: 1;
    grid-column: span 2;
  }

  &:first-child {
    margin-right: 0.75rem;
  }

  &:last-child {
    margin-left: 0.75rem;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 9rem;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: $color-grey---4;
    opacity: 0.8;
    text-transform: uppercase;
    position: absolute;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 2.5rem;
      color: $color-grey--4;
    }

    .subtitle {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
}

@media (max-width: 860px) {
  .menu-item.large {
    order: 1;
    grid-column: span 1 !important;
  }
}
